# Original build file
#language: java
#
#script:
#  - echo "running standard tests"; ./gradlew test
#  - if [[ "$TRAVIS_EVENT_TYPE" == "cron" ]]; then echo "running operational tests"; ./gradlew testOperational; fi

dist: bionic
language: java
jdk: openjdk8

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew test testOperational
